.workout-schedule {
    display: flex;
    height: 100%;
    margin: 0;
}

.days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.start-btn {
    position: relative;
    top: -25%;
    border-radius: 4px;
    background: #DE445D;
    opacity: 95%;
    padding: 15px 32px;
    color: white;
    outline: none;
    border: 2px solid #DE445D;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    /* &:hover {
    transition: all 0.2s ease-in-out;
    opacity: 100%;
    color: #010606;
  } */
}
